/node_modules
# Rider
/.idea
# Visual Studio Code
/.vscode
#for running production build 
#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
/secret
/upload
package-lock.json
/build

node_modules 
*.env 
.env* 
*.local
node_modules 
*.env 
.env* 
*.local
node_modules 
*.env 
.env* 
*.local